<!DOCTYPE html>
<html>
  <head>
    <title>Need2p</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Favicon -->
    <%= favicon_link_tag 'poop_icon.png' %>

    <!-- iOS Icons -->
    <%= favicon_link_tag 'poop_icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'poop_icon.png', rel: 'apple-touch-icon', sizes: '152x152', type: 'image/png' %>
    <%= favicon_link_tag 'poop_icon.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>
    <%= favicon_link_tag 'poop_icon.png', rel: 'apple-touch-icon', sizes: '167x167', type: 'image/png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css' rel='stylesheet' type='text/css' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/navbar" %>

    <!-- Hamburger-Button -->
    <span class="open-btn" onclick="openSidebar()">&#9776;</span>

    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="close-btn" onclick="closeSidebar()">&times;</a>
      <a href="/">Home</a>
      <a href="/minigame">Minigame</a>
      <a href="#">About</a>
      <a href="#">Report Issue</a>
    </div>

    <!-- Overlay -->
    <div id="overlay" class="overlay" onclick="closeSidebar()"></div>

    <!-- Header -->
    <header class="navbar navbar-custom text-white py-3">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Hamburger-Button -->
        <span class="open-btn" onclick="openSidebar()">&#9776;</span>

        <!-- Title with Link -->
        <%= link_to toilets_path, class: "text-decoration-none text-white" do %>
          <h1 class="mb-0 h3 text-center flex-grow-1" style="font-family: 'Anton SC', sans-serif; font-size: 30px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">NEED2P</h1>
        <% end %>

        <!-- Profile Icon -->
        <%= link_to dashboard_path do %>
          <button class="btn btn-link text-white">
            <i class="fas fa-user"></i>
          </button>
        <% end %>
      </div>
    </header>

    <!-- Main Content -->
    <%= render "shared/flashes" %>

    <div class="main-container" style="margin-left: 0; transition: margin-left 0.5s;">
      <%= yield %>
    </div>

    <script>
      function openSidebar() {
        document.getElementById("mySidebar").classList.add("open");
        document.querySelector(".main-container").style.marginLeft = "250px";
        document.getElementById("overlay").classList.add("open");
      }

      function closeSidebar() {
        document.getElementById("mySidebar").classList.remove("open");
        document.querySelector(".main-container").style.marginLeft = "0";
        document.getElementById("overlay").classList.remove("open");
      }
    </script>
  </body>
</html>
